<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="hotel_ID" class="sr-only">Id:</label>
                                <input [(ngModel)]="hotel.hotel_ID" class="form-control" placeholder="Id" name="hotel_ID" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="hotel_PW" class="sr-only">Passwrod:</label>
                                <input [(ngModel)]="hotel.hotel_PW" class="form-control" placeholder="Password" name="pwd" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button (click)="login()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Login</button>

                        </fieldset>
                    </form>
                    <button (click)="signup()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Signup</button>
                </div>
            </div>
        </div>
    </div>
</div>
